# Python
Backend/venv/
Backend/__pycache__/
Backend/**/*.pyc

# Node
Frontend/node_modules/

# Environment
.env

# Database
*.db

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/

# Build
dist/
build/

# SQLite Database
*.db
*.sqlite3
.envgit